<!-- PAGE WHICH SHOWS A QUIZ AND ALLOWS YOU TO COMPLETE IT (PAGE TO TAKE THE ACTUAL QUIZ) -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App - Attempt</title>
    <link href="/docs/owl.png" rel="icon" type="image/x-icon" />

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <!-- EXTERNAL STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />


    <!-- OUR STYLESHEETS -->
    <link rel="stylesheet" href="/styles/all.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/quiz_container.css" />
    <link rel="stylesheet" href="/styles/question_card.css" />
    <link rel="stylesheet" href="/styles/quiz_attempt.css" />

    <!-- SCRIPTS-->

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

  </head>
<body>
  <%- include('partials/__header') %>

  <main>
    <h1><%= quiz.title %></h1>
    <p class="author">By <%= quiz.author%></p>
    <p class="attempter">Attempt by <%= attempt.attempter || 'anonymous' %></p>
    <p class ="description"><%= quiz.description %></p>
    <div class="quiz_container">
      <% for (question in quiz.questions) { %>
        <article class = question_card>
          <header>
            <p><%= question %>. <%= quiz.questions[question].text %></p>
          </header>
          <ul>
            <% for (answer of quiz.questions[question].answers) { %>
              <li class="<%= attempt.answers[answer.id] ? (attempt.answers[answer.id].is_correct ? 'correct' : 'incorrect') : '' %>" >
                <%= answer.text %>
              </li>
            <% } %>
          </ul>
        </article>
      <% } %>
    </div>
    <a href="/quizapp/quiz/<%= quiz.url %>"><button id="quiz_try">Try this quiz!</button></a>
  </main>

</body>
</html>
