<!-- PAGE WHICH SHOWS A QUIZ AND ALLOWS YOU TO COMPLETE IT (PAGE TO TAKE THE ACTUAL QUIZ) -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App - Quiz</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <!-- EXTERNAL STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />


    <!-- OUR STYLESHEETS -->
    <link rel="stylesheet" href="/styles/all.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/quiz_container.css" />
    <link rel="stylesheet" href="/styles/quiz.css" />

    <!-- SCRIPTS-->

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/quiz.js"></script>

  </head>
<body>
  <%- include('partials/__header') %>

  <main>
    <h1><%= quiz.title %></h1>
    <p class="author">By <%= quiz.author%></p>
    <p class ="description"><%= quiz.description %></p>
    <div class="quiz_container">
      <% for (question in quiz.questions) { %>
        <article class = question_card>
          <header>
            <p><%= question %>. <%= quiz.questions[question].text %></p>
          </header>
          <ul>
            <% for (answer of quiz.questions[question].answers) { %>
              <li>
                <input type="radio" name=<%= question %> data-id=<%= answer.id %>>
                <%= answer.text %>
              </li>
            <% } %>
          </ul>
        </article>
      <% } %>
    </div>
    <button id="quiz_submit">Submit</button>
  </main>

</body>
</html>
