<!-- <-- PAGE FOR USERS' PERSONAL ACCOUNT INFORMATION -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App - Your Account</title>
  <link href="/docs/owl.png" rel="icon" type="image/x-icon" />

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- EXTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">


   <!-- OUR STYLESHEETS -->
   <link rel="stylesheet" href="/styles/all.css" />
   <link rel="stylesheet" href="/styles/account_header.css" />
   <link rel="stylesheet" href="/styles/quiz_card.css" />
   <link rel="stylesheet" href="/styles/footer.css" />
   <link rel="stylesheet" href="/styles/users.css" />

  <!-- SCRIPTS-->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
  <script defer src="/scripts/quiz_stats.js"></script>
  <script defer src="/scripts/users.js"></script>



</head>


<body>
  <header>
    <nav>
        <p class="user_Name"> Welcome Back, <%= userName %>!</p>
        <div class="nav_right">
        <form action="/api/logout" method="POST" class="logout">
           <button>Logout</button>
        </form>
        <form action="/quizapp" method="GET" class="home">
          <button>Back Home<img src="/docs/owl.png"></button>
        </form>
       </div>
    </nav>
    </header>
    <main>
      <div class="main_buttons">
        <button class="quizzes_btn">View My Quizzes</button>
        <button class="results_btn">View My Quiz Attempts</button>
      </div>

      <div class="info_container">
        <h1>My Quizzes </h1>
        <div class="info_body">

         <% if (quizzes !== undefined && quizzes.length) { %>
          <% for (quiz of quizzes) { %>
          <article class="quiz_card my_quiz">
            <div class="quiz_card_main">
              <header>
                <h2><%= quiz.title %></h2>
                <p>Created: <time class="timeago" datetime="<%= quiz.created_at %>"></time></p>
              </header>
              <div class="quiz_stats">
                <button class="questions"> Questions: <%= quiz.question_count %></button>
                <button class="attempts"> Attempts: <%= (quiz.attempts ? quiz.attempts : 0) %></button>
                <button class="score"> Average Score: <%= (quiz.average ? quiz.average : `N/A`) %> / <%= quiz.question_count %></button>
                <form action="/quizapp/quiz/results/<%= quiz.results_url %>" method="GET"><button class="results">View Detailed Results</button></form>
              </div>
              <div class="quiz_links">
                <div class="quiz_link">
                  <button class=" copy_quiz_btn c_b"><span>Copy Quiz Link &nbsp;</span><input class="copy_input" value=http://localhost:8080/quizapp/quiz/<%= quiz.url %>></button>
                </div>
                <div class="quiz_link">
                  <button class="copy_results_btn c_b"><span>Copy Results Link &nbsp;</span><input class="copy_input" value=http://localhost:8080/quizapp/quiz/results/<%= quiz.results_url %>></button>
                </div>
              </div>
              <footer>
                  <button class="public" id="<%= quiz.url %>">Make Quiz <span><%= quiz.is_private ? 'Public' : 'Private' %></span></button>
                <form action="/api/quiz/<%= quiz.url %>" method="POST">
                  <button class="delete">Delete Quiz</button></a>
                </form>
              </footer>
            </div>
          </article>
          <% } %>
          <% } else { %>
            <article class="my_quiz null" id="null">You have not made any quizzes </article>
          <% } %>

          <% if (attempts !== undefined && attempts.length) { %>
          <% for (let attempt of attempts) { %>

          <article class="quiz_card my_quiz_attempts">
            <div class="quiz_card_main">
              <header>
                <h2><%= attempt.quiztitle %> </h2>
                <p>Attempted <time class="timeago" datetime="<%=attempt.attempted_at%>">9 days ago</time></p>
              </header>
              <div class="quiz_stats">
                <button class="questions">Questions: <%= attempt.questioncount %></button>
                <button class="score">Score: <%= attempt.score %> / <%= attempt.questioncount %></button>
                <form action="/quizapp/attempt/<%=attempt.attempturl %>" method="GET">
                 <button class="results">View Your Attempt</button>
                </form>
              </div>
              <div class="quiz_links">
                <div class="quiz_link">
                  <button class="quiz_link copy_quiz_btn share_attempt c_b"><span>Share Attempt Link &nbsp;</span><input class="quiz_link copy_input" value=http://localhost:8080/quizapp/attempt/<%=attempt.attempturl %>></button>
                </div>
              </div>
              <footer>
                <form action="/quizapp/quiz/<%=attempt.quizurl %>" method="GET">
                  <button class="quiz_link copy_results_btn get_quiz">Attempt Again</button>
                </form>
              </footer>
            </div>
          </article>
          <% } %>
          <% } else { %>
            <article class="my_quiz_attempts null" id="null">You have not attempted any quizzes</article>
         <% } %>
        </div>

      </div>
    </main>
</body>

</html>
